<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>StudioBook Apps</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- <base href="/"> -->

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <!-- <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="assets/css/frontSite-style.css" rel="stylesheet">
</head>

<body>
  <%- include('components/navbarClient') %>
  <main class="container">
    <!-- <div>
      <h1 class="text-center mt-5 mb-5">INI HALAMAN HOME</h1>
    </div> -->

    <section class="section-hero">
      <div class="row py-4">
        <div class="left-hero col-lg-7 my-auto">
          <h1 class="fw-bold">Make Your Moment With Your Favorite <span>Studio</span></h1>
          <p class="w-75 py-4 fs-4">Our studio is ready to be the best place for you to capture unforgettable moments. Rent immediately and get your best work.</p>
          <div class="d-flex gap-5">
            <span class="d-flex gap-2">
              <svg
                viewBox="0 0 1024 1024"
                fill="currentColor"
                height="2em"
                width="1.5em"
              >
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm193.5 301.7l-210.6 292a31.8 31.8 0 01-51.7 0L318.5 484.9c-3.8-5.3 0-12.7 6.5-12.7h46.9c10.2 0 19.9 4.9 25.9 13.3l71.2 98.8 157.2-218c6-8.3 15.6-13.3 25.9-13.3H699c6.5 0 10.3 7.4 6.5 12.7z" />
              </svg>
              <p class="fs-4 w-75">Capture beautiful moments.</p>
            </span>
            <span class="d-flex gap-2">
              <svg
                viewBox="0 0 1024 1024"
                fill="currentColor"
                height="2em"
                width="1.5em"
              >
                <path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm193.5 301.7l-210.6 292a31.8 31.8 0 01-51.7 0L318.5 484.9c-3.8-5.3 0-12.7 6.5-12.7h46.9c10.2 0 19.9 4.9 25.9 13.3l71.2 98.8 157.2-218c6-8.3 15.6-13.3 25.9-13.3H699c6.5 0 10.3 7.4 6.5 12.7z" />
              </svg>
              <p class="fs-4 w-75">Creating harmony in every note.</p>
            </span>
          </div>
        </div>
        <div class="right-hero col-lg-5 justify-content-center">
          <img src="assets/img/guitar2.png" alt="">
        </div>
      </div>
    </section>

    <section class="facilities">
      <div class="d-flex justify-content-between">
        <p class="fw-semibold fs-5">Fasilitas & Pelayanan</p>
        <span class="d-flex gap-2">
          <a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Lihat detail</a>
          <i class="bi bi-arrow-right"></i>
        </span>
      </div>
      <p class="opacity-75 mb-5">Studio yang tersedia dapat memberikan beberapa fasilitas nyaman, menarik, dan sesuai dengan kebutuhan pelanggan seperti Free WIFI, tersedia tempat ibadah, ruangan AC, dan tentunya ditangani oleh orang-orang yang sudah professional dibidang nya.</p>
      <div class="facilities-wrapper d-flex justify-content-between">
        <div class="card bg-body-tertiary p-4 text-center">
          <img src="assets/img/icon-facilities/ac.png" alt="img-facilities">
          <p class="fw-semibold mt-4">Ruangan AC</p>
          <p class="opacity-75">Hampir seluruh studio pada partner kami memiliki ruangan yang dilengkapi dengan AC</p>
        </div>
        <div class="card p-4 text-center">
          <img src="assets/img/icon-facilities/wifi.png" alt="img-facilities">
          <p class="fw-semibold mt-4">Free WiFi</p>
          <p class="opacity-75">Lingkungan Studio pada partner kami juga sudah dilengkapi dengan WiFI yang bebas bisa kamu gunakan.</p>
        </div>
        <div class="card p-4 text-center">
          <img src="assets/img/icon-facilities/car.png" alt="img-facilities">
          <p class="fw-semibold mt-4">Parking Area</p>
          <p class="opacity-75">Studio yang memiliki area parkir yang cukup luas untuk kamu pelanggan setia kami</p>
        </div>
        <div class="card p-4 text-center">
          <img src="assets/img/icon-facilities/mosque.png" alt="img-facilities">
          <p class="fw-semibold mt-4">Tempat Ibadah</p>
          <p class="opacity-75">Kami juga meyediakan tempat ibadah bagi kamu yang muslim.</p>
        </div>
        <div class="card p-4 text-center">
          <img src="assets/img/icon-facilities/other.png" alt="img-facilities">
          <p class="fw-semibold mt-4">Lainnya</p>
          <p class="opacity-75">Masih banyak fasilitas lainnya yang dapat digunakan. Jadi tunggu apalagi. Ayo cari studio mu</p>
        </div>
      </div>
    </section>

    <section class="produk">
      <div class="d-flex justify-content-between">
        <p class="fw-semibold fs-5">Beragam Studio Menarik Yang Anda Cari</p>
        <span class="d-flex gap-2">
          <a href="#" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Lihat studio lain</a>
          <i class="bi bi-arrow-right"></i>
        </span>
      </div>
      <p class="opacity-75 mb-5">Disini kamu dapat menemukan berbagai studio yang dapat memenuhi kebutuhan mu untuk melancarkan acara pesta, kebutuhan foto professional dan lainnya. Disini Anda dapat menemukan berbagai studio seperti studio musik, studio fotografi, studio live streaming, dan lainnya.s</p>
      <div class="container produk-wrapper">
        <!-- <div class="row1">
          <div class="toggle-slider">
            <i class="bx bxs-chevron-left-circle"></i>
            <i class="bx bxs-chevron-right-circle"></i>
          </div>
        </div> -->
        <div class="row2">
          <!-- Swiper -->
          <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide card-produk">
                <img src="assets/img/music1.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Music</p>
                    <p class="price">80k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Intan Music Studio</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.4</div>
                    <p>58 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Intan music studio & Course • Sound system for rent • Musical instrument for rent</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/photo1.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Photo</p>
                    <p class="price">50k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Moro Self Photo</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 5.0</div>
                    <p>252 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Hi Moro Peeps, sekarang Morostudio dapat hadir di acara-acara kamu lohh dalam bentuk Self Photobooth.</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/music2.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Music</p>
                    <p class="price">80k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Charlie Studio Music</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.2</div>
                    <p>320 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Kami adalah jasa pelayanan studio musik dan rekaman, terdiri dari 3 studio latihan dan 1 studio rekaman.</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/photo2.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Photo</p>
                    <p class="price">100k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Agatha Photo</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.8</div>
                    <p>2.065 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Visi : Not just to be the biggest, but the gratest in photography industry as well. Misi: We innovate continuously</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/music3.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Music</p>
                    <p class="price">99k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Studio Musik Sebelas</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.8</div>
                    <p>81 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Studio musik dan recording SEBELAS Yogyakarta.</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/photo3.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Photo</p>
                    <p class="price">30k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Duta Foto Pusat</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.5</div>
                    <p>1.341 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Karena moment adalah salah satu bentuk keabadian yang tak akan lekang oleh waktu.</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/music4.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Music</p>
                    <p class="price">35k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Pringgading Studio Music</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.7</div>
                    <p>26 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide card-produk">
                <img src="assets/img/photo4.jpg" alt="" />
                <div class="detail-produk">
                  <div class="kategori">
                    <p class="label-kategori">Photo</p>
                    <p class="price">35k</p>
                  </div>
                  <div class="title-card">
                    <h1 class="text-truncate" style="max-width: 250px;">Valio Studios</h1>
                  </div>
                  <div class="review">
                    <div class="star"><i class="bx bxs-star"></i> 4.6</div>
                    <p>1.161 reviewer</p>
                  </div>
                  <div class="body-card">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                  </div>
                  <div class="btn-produk">
                    <a href="#">Detail</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Swiper JS -->
        </div>
      </div>
    </section>

    <section class="subcribe">
      <div class="subcribe-wrapper bg-dark-subtle d-flex gap-4 rounded-5">
        <div class="left-subcribe pt-4">
          <h3>Ingin mendapatkan informasi terbaru mengenai studio baru di wilayah kamu.</h3>
          <p class="fs-4 mt-3 opacity-75">Ayo kamu bisa bergabung kedalam layanan email kami. Gabung segera dan banyak keuntungan nya lohhh.</p>
          <div class="btn-group mt-5 d-flex gap-3">
            <input class="flex-grow-1 rounded-3 border-0 p-3" type="email" name="email" id="email" placeholder="Masukkan email Anda disini">
            <button class="flex-grow-0 rounded-3 px-4 btn btn-primary">Submit</button>
          </div>
        </div>
        <img src="assets/img/man-subcribe-email.png" alt="">
      </div>
    </section>
  </main><!-- End #main -->
  
  <%- include('components/footerClient') %>
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
    class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- <script src="assets/vendor/simple-datatables/simple-datatables.js"></script> -->

  <!-- Template Main JS File -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="assets/js/index.js"></script>

</body>

</html>