<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
        <link rel="stylesheet" href="./assets/css/about-style.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
        
        <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
        
        <link href="assets/css/frontSite-style.css" rel="stylesheet">
        <title>About Us</title>
</head>
<body>
  <%- include('../../components/navbarClient') %>
      <!-- Content -->
      <div class="content">
        <h1>About Us</h1>

        <div class="top-content">
            <div class="left-top">
                <h2>Studio Books</h2>
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, earum inventore ipsum rem, atque maiores itaque consectetur praesentium commodi voluptatum deserunt reiciendis expedita veritatis? Aliquam commodi pariatur amet maiores quae, iure in quia quisquam debitis quam voluptatem aperiam maxime veniam illum consequuntur? Eaque, placeat. Vitae dolores adipisci unde repudiandae maxime aut assumenda tempora eius mollitia, placeat aliquid facilis quae veritatis, veniam vel vero sed ab quaerat autem natus. Voluptatibus assumenda ratione neque voluptas, quam accusamus quos ut quidem placeat rerum quibusdam cum porro quas obcaecati suscipit iste ad quaerat repellendus sint minima iusto necessitatibus nulla. Placeat obcaecati accusantium modi ipsum.
                </p>
            </div>
            <div class="right-top">
                <h2>Our Team</h2>
                <div class="team">
                    <div class="member">
                        <img src="./assets/img/Profile Vita.JPG" alt="Team Member 1">
                        <h3>Murni Damayanti</h3>
                        <p>Data Analyst</p>
                      </div>
                      <div class="member">
                        <img src="./assets/img/Profile Jamal.jpg" alt="Team Member 2">
                        <h3>Jamalul Ikhsan</h3>
                        <p>Fullstack Web Developer</p>
                      </div>
                      <div class="member">
                        <img src="./assets/img/Profile Vita.JPG" alt="Team Member 3">
                        <h3>Vita Karenina</h3>
                        <p>Fullstack Web Developer</p>
                      </div>
                      <div class="member">
                        <img src="./assets/img/Profile Rizqi.jpg" alt="Team Member 4">
                        <h3>Muhammad Rizqi</h3>
                        <p>Fullstack Web Developer</p>
                      </div>
                      <div class="member">
                        <img src="./assets/img/Profile Farid.jpg" alt="Team Member 5">
                        <h3>Muhammad Farid Baehaqi</h3>
                        <p>Fullstack Web Developer</p>
                      </div>
                      <div class="member">
                        <img src="./assets/img/Profile Rizqi.jpg" alt="Team Member 6">
                        <h3>Muhammad Rizqi Septi Atmojo</h3>
                        <p>Fullstack Web Developer</p>
                      </div>
                </div>
            </div>
        </div>

        <div class="bottom-content">
            <h2>Contact Us</h2>
            <div>
                <p>Email: studiobooks@gmail.com</p>
                <p>Phone: 123-456-7890</p>
                <p>Address: Yogyakarta, Indonesia</p>
            </div>
        </div>
      </div>

      <%- include('../../components/footerClient') %>
</body>
</html>